[*.cs]

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

# S125: Sections of code should not be commented out
dotnet_diagnostic.S125.severity = silent
