# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
  - main

pool:
  vmImage: "windows-latest"

variables:
  solution: "**/*.sln"
  buildPlatform: "Any CPU"
  buildConfiguration: "Release"
  dotNetFramework: "net6.0"
  dotNetVersion: "6.0.x"
  targetRuntime: "linux-x64"

steps:
  - task: NuGetToolInstaller@1

  - task: NuGetCommand@2
    inputs:
      restoreSolution: "$(solution)"

  - task: DotNetCoreCLI@2
    inputs:
      command: "build"

  - task: DotNetCoreCLI@2
    inputs:
      command: "test"
      publishTestResults: false
  - task: DotNetCoreCLI@2
    inputs:
      command: "publish"
      publishWebProjects: true
  - task: AzureRmWebAppDeployment@4
    inputs:
      ConnectionType: "AzureRM"
      azureSubscription: "Visual Studio Professional Subscription(62ff8eb4-a032-4113-8da8-a8627b6c1e32)"
      appType: "webAppLinux"
      WebAppName: "OpenXmlConverter"
      packageForLinux: "$(System.DefaultWorkingDirectory)/**/*.zip"
      RuntimeStack: "DOTNET|6.0"
